.project-showcase {
  position: relative;
  width: clamp(220px, 24vw, 320px);
  aspect-ratio: 9 / 16;

  img {
    width: 100%;
    border-radius: 2rem;
  }

  .showcase-main {
    position: relative;
    @include shadow;
    z-index: 3;
  }

  .showcase-secondary {
    position: absolute;
    top: 40px;
    left: 100px;
    @include shadow(20px, 40px, 0.3);
    z-index: 2;
    opacity: 0.95;
  }

  .showcase-third {
    position: absolute;
    top: 80px;
    left: 200px;
    @include shadow(20px, 40px, 0.25);
    z-index: 1;
    opacity: 0.85;
  }
}
