.project-showcase {
  position: relative;
  width: clamp(180px, 18vw, 260px);
  aspect-ratio: 9 / 16;

  img {
    width: 100%;
    border-radius: 2rem;
  }

  .showcase-main {
    position: relative;
    @include shadow;
    z-index: 3;
  }

  .showcase-secondary {
    position: absolute;
    top: 10%;
    left: 0;
    transform: translateX(25%);
    z-index: 2;
    opacity: 0.95;
  }

  .showcase-third {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateX(50%);
    z-index: 1;
    opacity: 0.85;
  }


  /* Tablet */
  @media (min-width: 768px) and (max-width: 991px) {

    
    .showcase-secondary {
      left: 0;
      transform: translateX(20%);
    }

    .showcase-third {
      left: 0;
      transform: translateX(40%);
    }
  }


  /* Mobil */
  @media (max-width: 767px) {
  
    .showcase-secondary {
      left: 25%;
      transform: none;
    }

    .showcase-third {
      left: 50%;
      transform: none;
    }
  }
}
