.scroll-text-section {
  overflow: hidden;
}

.scroll-wrapper {
  display: flex;
  width: max-content;
  animation: scrollLoop 60s linear infinite;
  will-change: transform;
}

.scroll-content {
  white-space: nowrap;
  padding-right: 2rem; 
  color: rgba($headings-color, 0.50);
}

@keyframes scrollLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
